__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

.vscode/

.DS_Store
Thumbs.db

*.log
*.tmp
*.bak

encrypted.bin
decrypted.txt

server_files/
client_files/

private_key.pem
server_private.pem
client_private.pem

pip-wheel-metadata/
*.egg-info/

.idea/